h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
}

#main {
    margin: 20px 0;
    ul {
        padding-left: 0;
    }
    li {
        list-style: none;
        color: var(--dark);
    }
    a:hover {
        text-decoration: none;
    }
    .card {
        margin: 5px 0;
        &:hover {
            box-shadow: 1px 2px 4px map-get($grays, '600');
        }
    }
    .table {
        a {
            color: var(--dark);
        }
    }
}

.profile-pic {
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
}

.btn:hover {
    background: transparent;
}

.btn-violet:hover {
    border: 1px solid var(--violet);
    color: var(--violet);
}

.btn-pizzazz:hover {
    border: 1px solid var(--pizzazz);
    color: var(--pizzazz);
}

.btn-space-cadet:hover {
    border: 1px solid var(--space-cadet);
    color: var(--space-cadet);
}

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .logo {
        width: 100%;
    }
    .hero-img {
        position: absolute;
    }
    .hero-msg {
        position: absolute;
        top: 40%;
        margin: 4px;
        h2 {
            margin: 16px;
            color: var(--light);
            font-weight: 900;
            font-style: italic;
            text-shadow: 1px 2px map-get($grays, '600');
        }
        .btn {
            margin: 10px;
        }
    }
}

.register, .login {
    background: var(--space-cadet);
    border-radius: 20px;
    padding: 16px;
    margin: 10px;
    h2 {
        color: var(--light);
    }
}

.register {
    border: 1px solid var(--violet);
}

.login {
    border: 1px solid var(--pizzazz);
}

.modal {
    .modal-content {
        background: transparent;
        border: none;
    }
}

.errors {
    margin: 20px;
}

.navbar-custom {
    background: var(--space-cadet);
    .navbar-toggler {
        color: var(--light);
    }
    .nav-link {
        color: var(--light);
        font-weight: 100;
        &:hover {
            text-decoration: underline;
        }
    }
}

.user-profile, .workouts {
    margin: 10px;
    height: 100%;
    .container-fluid {
        background: var(--light);
        border-radius: 10px;
        border: 1px solid black;
        padding: 10px;
    }
}

.user-profile {
    .container-fluid {
        width: 100%;
        margin: 5px 0;
        i {
            font-size: 1rem;
            color: var(--dark);
            &:hover {
                color: var(--pizzazz);
            }
        }
        #profile {
            text-align: left;
            margin: 5px;
            p {
                margin-bottom: 8px;
            }
        }
    }
}

.edit-profile {
    padding: 10px;
}

@media only screen and (min-width: 992px) {
    .hero {
        .hero-img {
            width: 100%;
        }
        .hero-msg {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
        }
    }

    #dashboard {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-areas: "userProfile workouts";
        margin: 20px 40px;
    }
}

@media only screen and (max-width: 992px) {
    .hero {
        .hero-img {
            height: 100vh;
        }
    }
}