$font-family-base: 'Montserrat', sans-serif;
$body-bg: #f8f7f9;

$theme-colors: (
    'dark': #000,
    'light': #f8f7f9,
    'pizzazz': #fa53dc,
    'violet': #7023ff,
    'space-cadet': #27293e,
    'middle-blue': #92dce5
)