<!doctype html>
<html lang="en">
    <head>
        <title>Gym Rat - Exercises</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Gym Rat is a fitness tracking app that allows users to log their workouts using exercises from our dedicated database.">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/gym_rat.css' %}" async>
    </head>
    <body>
        <nav class="navbar navbar-custom fixed-top navbar-expand-lg" id="navbar">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" 
            aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>
            <a class="navbar-brand" href="{% url 'gym_rat:dashboard' %}">
                <img src="{% static 'img/logo.png' %}" alt="logo" width="140" height="35">
            </a>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="{% url 'gym_rat:dashboard' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="{% url 'gym_rat:exercises' %}">Exercises</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="{% url 'login_registration:logout' %}">Log Out</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="main">
            <div class="exercise">
                <div class="container">
                    <div class="jumbotron">
                        <h2>{{ exercise.name }}</h2>
                        <p>{{ exercise.description }}</p>
                        {% if request.session.workout %}
                            <div class="container">
                                <form class="form" action="{% url 'gym_rat:add_set' id=exercise.id %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="sr-only">Weight</label>
                                        <input type="number" inputmode="numeric" name="weight" class="form-control" placeholder="Weight in lbs." required autofocus>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only">Reps</label>
                                        <input type="number" inputmode="numeric" name="reps" class="form-control" placeholder="Reps" required autofocus>
                                    </div>
                                    <button class="btn btn-primary">Do Another Set</button>
                                </form>
                            </div>
                        {% endif %}
                        {% if sets %}
                            <div class="container">
                                <table class="table table-bordered table-dark">
                                    <thead>
                                        <tr>
                                            <th scope="col">Weight (lbs.)</th>
                                            <th scope="col">Reps</th>
                                            <th scope="col">Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for set in sets %}
                                            <tr class="set-{{ set.id }}">
                                                <td>{{ set.weight }}</td>
                                                <td>{{ set.reps }}</td>
                                                <td>
                                                    <a id={{ set.id }} class="btn btn-secondary edit-set-btn" type="button">Edit</a>
                                                    <a href="{% url 'gym_rat:del_set' id=set.id %}" class="btn btn-danger">Delete</a>
                                                    <form action="{% url 'gym_rat:edit_set' id=set.id %}" method="post" class="form edit-set-form edit-set-form-{{ set.id }}">
                                                        {% csrf_token %}
                                                        <div class="form-group weight-{{ set.id }}">
                                                            <label class="sr-only">Weight</label>
                                                        </div>
                                                        <div class="form-group reps-{{ set.id }}">
                                                            <label class="sr-only">Reps</label>
                                                        </div>
                                                    </form>
                                                </td>
                                           </tr>
                                        {% endfor %} 
                                    </tbody>
                                </table>
                            </div>
                            <div class="container">
                                <a href="{% url 'gym_rat:show_workout' id=request.session.workout %}" class="btn btn-primary mt-2">Back to Workout</a>
                                <a href="{% url 'gym_rat:exercises' %}" class="btn btn-primary mt-2">Back To Exercises</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
        <script src="{% static 'js/bootstrap.min.js' %}" async></script>
        <script src="{% static 'js/scripts.js' %}" async></script>
    </body>
</html>