<!doctype html>
<html lang="en-US">
<head>
    <title>Gym Rat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta name="description" content="Gym Rat is a fitness tracking app that allows users to log their workouts using exercises from our dedicated database.">
    {% load static %}
    <link rel="stylesheet" href="{% static 'scss/theme.css' %}" async>
    <link rel="stylesheet" href="{% static 'css/fontawesome/css/all.min.css' %}" async>
    <link rel="icon" href="{% static 'img/dumbbell-icon.svg' %}" async>
</head>
<body>
    <div class="hero">
        <img src="{% static 'img/hero1.jpg'%}" alt="Hero Image" class="hero-img">
        <div class="hero-msg text-center">
            <img src="{% static 'img/gym-rat-logO.png' %}" alt="Gym Rat Logo" class="logo">
            <h2 class="text-uppercase">Start your fitness journey now!</h2>
            <button type="button" class="btn btn-violet" class="register-btn" data-toggle="modal" data-target="#register-modal">Register</button>
            <button type="button" class="btn btn-pizzazz" class="login-btn" data-toggle="modal" data-target="#login-modal">Login</button>
        </div>
        <div class="errors">
            <div class="container">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger text-center" role="alert">
                            <strong>Uh oh!</strong> {{message}}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class-"modal-body">
                    <div class="register">
                        <form class="form-signin" action="{% url 'login_registration:register' %}" method="post">
                            {% csrf_token %}
                            <h2 class="form-signin-heading text-center">Register</h2>
                            <div class="form-group">
                                <label class="sr-only">First Name</label>
                                <input type="text" name="first_name" class="form-control" placeholder="First name" required autofocus>
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Last Name</label>
                                <input type="text" name="last_name" class="form-control" placeholder="Last name" required autofocus>
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Email address</label>
                                <input type="text" name="email" inputmode="email" class="form-control" placeholder="Email address" required autofocus>
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Password</label>
                                <input type="password" name="password" class="form-control" placeholder="Password" required autofocus>
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Confirm Password</label>
                                <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password" required autofocus>
                            </div>
                            <button type="submit" class="btn btn-violet">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="login">
                        <form class="form-sigin" action="{% url 'login_registration:login' %}" method="post">
                            {% csrf_token %}
                            <h2 class="form-sigin-heading text-center">Log In</h2>
                            <div class="form-group">
                                <label class="sr-only">Email address</label>
                                <input type="text" name="email" inputmode="email" class="form-control" placeholder="Email address" required autofocus>
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Password</label>
                                <input type="password" name="password" class="form-control" placeholder="Password" required>
                            </div>
                            <button type="submit" class="btn btn-pizzazz">Log In</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>