$body-bg: #000000;
$body-color: #ffffff;
$fa-font-path: 'webfonts';

$theme-colors: (
    "primary": #7034fb,
    "secondary": #fd5bda,
    "success": #58ffbf,
    "danger": #f85858,
    "warning": #ebff3a,
    "info": #3efff5,
    "light": #ffffff,
    "dark": #000000,
);